
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Node & npm ###
node_modules/
npm-debug.log
yarn-error.log
.npmrc
###< Node & npm ###

###> IDE ###
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> Vercel ###
.vercel/
###< Vercel ###

###> Environment ###
.env
/public/music/uploads/
